
{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

    <div class="feed">
    <h1> Home</h1>

    {% for post in posts %}
    <div class="post">

        <div class="post-header">
            <div class="user-info">
                <i class="fa-regular fa-user"></i>
                <img src="{{ post.author.profile.picture.url }}" style="width:50px">
                {{ post.author.username }}
            </div>
            <!-- add an if statement - button to make people be friends with each other -->
            {% if post.author != user %}
                {% if post.author in user_friends %}
                    <span class="friends">Friend</span>
                {% elif post.author in friend_requests_sent or post.author in friend_requests_received %}
                    <span class="pending">Friendship Pending</span>
                {% else %}
                    <a href="{% url 'ratemypet:send_request' post.author.id %}" class="add-friend-button">Add Friend</a>
                {% endif %}
            {% endif %}
        </div>


        <div class="post-image">
            <img src="{{ post.image.url }}" class="post-img">
        </div>

        <div class="post-actions">
            <!-- make heart a button connent it to the database  -->
            <a href="#" class="like-btn" data-id="{{ post.id }}">
                <i class="fa-heart {% if user in post.likes.all %}fa-solid {% else %}fa-regular{% endif %}"></i>
                <span>{{ post.likes.count }}</span>
            </a>
            <!-- make comment a button to see all the other comments -->
            <i class="fa-regular fa-comment"></i>
            <!-- get the pet category -->
            <span class="pet-type">{{ post.category }}</span>
        </div>


        <div class="post-caption">
            {{ post.caption }}
        </div>


        <div class="post-comment">
            <!-- get the most recent comment  -->
            <b>user2:</b> OMG LOVE
        </div>

    </div>
    {% endfor %}
    </div>

{% endblock %}

