
{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

    <div class="feed">
    <h1> Home</h1>

    {% for post in posts %}
    <div class="post">

        <div class="post-header">
            <div class="user-info">
                <img src="{{ post.author.profile.picture.url }}" style="width:40px; height:40px; border-radius: 50%; object-fit: cover; border: 2px solid black;">
                {{ post.author.username }}
            </div>
            <!-- add an if statement - button to make people be friends with each other -->
            {% if post.author != user %}
                {% if post.author in user_friends %}
                    <span class="friends">Friend</span>
                {% elif post.author in friend_requests_sent or post.author in friend_requests_received %}
                    <span class="pending">Friendship Pending</span>
                {% else %}
                    <button class="add-friend-button" data-url="{% url 'ratemypet:send_request' post.author.id %}" data-user-id="{{ post.author.id }}">Add Friend</button>
                {% endif %}
            {% endif %}
        </div>


        <div class="post-image">
            <img src="{{ post.image.url }}" class="post-img">
        </div>

        <div class="post-actions">
            <!-- make heart a button connent it to the database  -->
            <button class="like-btn" data-post-id="{{ post.id }}" style="background:none; border:none; padding:0;">
                <i class="heart-icon {% if request.user in post.likes.all %}fas{% else %}far{% endif %} fa-heart" id="like-heart-{{ post.id }}"></i>
                <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span>
            </button>
            <!-- make comment a button to see all the other comments -->
                <a href="{% url 'ratemypet:post_comments' post.id%}" class ="comment-link" style="text-decoration:none; color:inherit;">
                    <i class="fa-regular fa-comment"></i>
                    <span>{{ post.comment_set.count }}</span>
                </a>
            <!-- get the pet category -->
            <span class="pet-type">{{ post.category }}</span>
        </div>


        <div class="post-caption">
            {{ post.caption }}
        </div>


        <div class="post-comment">
            <!-- get the most recent comment  -->
                {% if post.ordered_comments %}
                    <b>{{ post.ordered_comments.0.author.username }}:</b>
                    {{post.ordered_comments.0.content}}
                {% else %}
                <span>No comment yet</span>
                {% endif %}
        </div>

    </div>
    {% endfor %}
    </div>

{% endblock %}

