{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="sidebar">
            <h2 class="logo">
                <i class="fa-solid fa-paw" style="color: #9FC5F8;"><span> RateMyPet</span></i>
            </h2>

            <button><i class="fa-solid fa-house"></i> Home</button>
            <button><i class="fa-solid fa-add"></i> Post</button>
            <button><i class="fa-solid fa-comment-dots"></i> Messages</button>
            <button><i class="fa-solid fa-bell"></i> Notification</button>
            <button><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            <button><i class="fa-solid fa-user"></i> Profile</button>
            <button><i class="fa-solid fa-gear"></i> Setting</button>
        </div>

        <div class="content">
            <h1>Home</h1>
        </div>
    </div>
{% endblock %}

