{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Notifications
{% endblock %}

{% block body_block %}
    <div class="layout">
    <h1> Notifications</h1>

    <div class="box">
        <div class="Likes">
           <h2>Likes:</h2>
           {% for like in likes %}
               <strong>{{ like.sender.username }}</strong> liked your post: "{{ like.post.caption|truncatechars:15 }}"
               <br>
           {% empty %}
               No likes yet.
           {% endfor %}
        </div>

        <div class="Comments">
            <h2>Comments:</h2>
            {% for comment in recent_comments %}
                <strong>{{ comment.requester.username }}</strong> has commented on your post "{{ comment.post.caption }}"
                <br>
            {% empty %}
                No comments yet.
            {% endfor %}
        </div>

        <div class="friends-request">
            <h2>Friends Requests:</h2>
            {% for request in pending_requests %}
            <img src="{{ request.requester.profile.picture.url }}" style="width:50px">
            <p><strong>{{ request.requester.username }}</strong> sent you a friend request.</p>

            <div class="fr-options">
                <a href="{% url 'ratemypet:accept_request' request.id %}">Accept</a>
                <a href="{% url 'ratemypet:decline_request' request.id %}">Decline</a>
            </div>
            {% empty %}
                No new friendship requests.
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
