{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Notifications
{% endblock %}

{% block body_block %}
    <div class="feed">
    <h1> Notifications</h1>

    <div class="box">
        <div class="Likes">
           <h2>Likes:</h2>
           {% for post in liked_posts %}
               Your post "{{ post.caption }}" has {{ post.likes }} like{{ post.likes|pluralize }}
               <br>
           {% empty %}
               No likes yet.
           {% endfor %}
        </div>

        <div class="Comments">
            <h2>Comments:</h2>
            {% for comment in recent_comments %}
                <strong>{{ comment.user_name.username }}</strong> has commented on your post "{{ comment.post.caption }}"
                <br>
            {% empty %}
                No comments yet.
            {% endfor %}
        </div>


        <h2>Friends Request:</h2>
        <div class="friends-request">
            No friend requests yet.
            <!-- Friend requests will be available once the Friendship model is implemented -->
        </div>
    </div>
    </div>
{% endblock %}
