{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div class="feed">
    <h1> My Profile</h1>

    <div class="profile">
        <!-- need to get the image of  the user
        if there is not user then below code -->
        <div class="profile-pic">
            <img src="{{ user.profile.picture.url }}" alt="Profile Picture" style="width:100px">
        </div>

        <div class="info">
            <!-- get the username of the user -->
            <h3>{{ user.profile.user }}</h3>
            <!-- needs to change the 10 to getting the number of friends the user have -->
            <p> Friends: {{ user.profile.friends.count }}</p>
            <p> Posts: {{ user_posts.count }}
        </div>

        <div class="bio">
            <!-- needs to get the bio of the user -->
            {{ user.profile.about }}
        </div>

        <form method="get">
            <button type="submit" class="upload-btn" formaction="{% url 'ratemypet:edit_profile' %}">Edit</button>
        </form>
        
        <!-- if statement if there is no post -> wirte you have no posts -->
        <div class="posts">
            {% for post in user_posts %}
            <div class="post">

                <div class="post-image">
                    <img src="{{ post.image.url }}" class="post-img">
                </div>

                <div class="post-actions">
                    <!-- make heart a button connent it to the database  -->
                    <button class="like-btn" data-post-id="{{ post.id }}" style="background:none; border:none; padding:0;">
                        <i class="heart-icon {% if request.user in post.likes.all %}fas{% else %}far{% endif %} fa-heart" id="like-heart-{{ post.id }}"></i>
                        <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span>
                    </button>
                    <!-- make comment a button to see all the other comments -->
                    <i class="fa-regular fa-comment"></i>
                    <!-- get the pet category -->
                    <span class="pet-type">{{ post.category }}</span>
                </div>

                <div class="post-caption">
                    {{ post.caption }}
                </div>

                <div class="post-comment">
                    <!-- get the most recent comment  -->
                    <b>user2:</b> OMG LOVE
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}