<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            RateMyPet -
            {% block title_block %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">

    </head>
    <body>

        <div class="container">
            {% block header_block %}
            {% endblock %}
 

            <div class="box">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>

         
    </body>
</html>