{% extends 'ratemypet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Settings
{% endblock %}

{% block body_block %}
    <div class="feed">
    <h1> Settings</h1>

    <div class="change">
            <label>Change Password: </label>
            <textarea name="change" id="change-input"></textarea>
            <button type="submit" class="upload-btn"> Change </button>
    </div>

    <!-- need to check if the logout button works -->
    <div class="logout">
        Do you want to logout? 

        <form method="post" action="{% url 'auth_logout' %}">
            {% csrf_token %}
            <button type="submit" class="upload-btn">Logout</button>
        </form>
    </div>

    <div class="delete">
        Do you want to delete your account?
        <form method="post" action="{% url 'ratemypet:delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="upload-btn" onclick="return confirm('Are you sure you want to delete your account? This cannot be undone.')">Delete</button>
        </form>
    </div>
    </div>

{% endblock %}
